<div *ngIf="terminado==false;">
    <div *ngIf="this.empezo==false; else gameBlock">
        <h1 class="h1">Mayor o Menor?<br><span class="colorDisplay">Reglas del juego</span></h1>
        <div class="container">
            <div class="row">

                <div class="col" style="text-align: center;">
                    <img src="../../../assets/cartas/Dorso.png" >
                </div>
        
                <div class="col">
                    <p style="margin-top: 50px;">El jugador tendrá una baraja de cartas boca abajo y se le mostrará una carta volteada. 
                        El objetivo es adivinar si la siguiente carta del mazo va a resultar mayor, menor, o igual a la ultima que se volteo. 
                        Si la respuesta es correcta, se sumará un punto, si no, se sumará un error. 
                        El juego acabará al acumular 10 errores, contando como derrota, o al voltear todas las cartas, contando como victoria.
                    </p>
                    <h1 class="display-3">Buena suerte!!</h1>
                </div>

            </div>
            <hr>
            <div style="text-align: center;">
                <button style="text-align: center; margin-top: 30px;" class="btn btn-secondary" (click)="comenzarJuego()"> Comenzar Juego</button>
                <a class="btn btn-secondary" style="margin-left: 10px; margin-top: 30px;" [routerLink]="['/home']">Volver a home</a>    
            </div>

        </div>
    </div>

    <ng-template #gameBlock>
        <!-- <h1>Puntos totales: {{puntos}}</h1>
        <h1>Errores totalse: {{erroresCont}}</h1>
        <h1>Palabra:</h1>
        <span>
            <img src="../../../assets/cartas/Dorso.png">
        </span>
        <span>
            <img src={{imagenUrl}}>
        </span><br>
        <button (click)="elegirBoton('menor')"> Menor</button>
        <button (click)="elegirBoton('igual')"> Igual</button>
        <button (click)="elegirBoton('mayor')"> Mayor</button> -->
        <h1 class="h1">Mayor o Menor?<br><span class="colorDisplay">Adivina la siguiente carta</span></h1>

        <div class="stripe">
            <span class="message">Puntaje: {{puntos}}</span>
        </div>

        <div class="container">
            <div class="row">

                <div class="col" style="text-align: left;">
                    <img src="../../../assets/cartas/Dorso.png">
                </div>
                
                <div class="col" style="text-align:center; margin-top: 150px;">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <button class="btn btn-success" (click)="elegirBoton('menor')"> Menor</button>
                        <button class="btn btn-secondary" (click)="elegirBoton('igual')"> Igual</button>
                        <button class="btn btn-danger" (click)="elegirBoton('mayor')"> Mayor</button>  
                    </div>
                </div>

                <div class="col" style="text-align: right;">
                    <img src={{imagenUrl}}>
                </div>
                
            </div>
        </div>
    </ng-template>
</div>
