  <!-- First Container -->
  <div id ="quiwn"class="container-fluid bg-1 text-center">
    <h3 class="margin">Nicolás Miguenz</h3>
    <img src="./assets/imagenes/foto_nm.jpg" class="img-responsive rounded-circle img-thumbnail margin top" style="display:inline" alt="Bird" width="350" height="350">
    <h3>Soy alumno de la UTN FRA</h3>
    <!-- <button type="button" class="btn btn-default" style="margin-top: 1rem;" (click)="mostrarIframe()"><i class="fa fa-github fa-3x" ></i></button> -->
  </div>
  <!-- Hidden Container -->
  <!-- <div class="github">
    <iframe id='frame' src="https://github.com/nmiguenz" frameborder='0' scrolling="yes"></iframe>
  </div> -->
  <!-- Second Container -->
  <div id ="que" class="container-fluid bg-2 text-center">
    <h3 class="margin">Descripci&oacute;n del juego propio</h3>
    <div class="col-md-12 align justify-content-center">
      <div class="row no-gutters rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250">
        <div class="col p-4 d-flex flex-column position-static">
          <p class="card-text mb-auto">Navegando por internet me top&eacute; con una versi&oacute;n avanzada del popular juego Piedra, papel y tijera llamado: "Piedra, papel, tijera, lagarto, spock". B&aacute;sicamente es lo mismo que 
            el ampliamente conocido, pero con un grado m&aacute;s alto de dificultad. La idea no es hacer exactamente el mismo, pero s&iacute; buscar unas figuras compatibles a las anteriores para simular
            este upgrade del juego.</p>
            <a href="#" class="btn btn-default btn-lg btn-primary">
              <span class="glyphicon glyphicon-file"></span> Ir al juego
            </a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
          <img src="../../../assets/imagenes/ppt_avanzado_qs.jpg" alt="" class="bd-placeholder-img" width="250" height="250">
        </div>
      </div>
    </div>
</div>