<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['']">Sala de Juegos</a>
        <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item mx-0 mx-lg-1" *ngIf="!isLogged">
                  <a class="nav-link py-3 px-0 px-lg-3 rounded" 
                      [routerLink]="['/ingreso/login']"
                      routerLinkActive="active"
                      >Login</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1" *ngIf="!isLogged">
                  <a class="nav-link py-3 px-0 px-lg-3 rounded" 
                      [routerLink]="['/ingreso/registro']"
                      routerLinkActive="active"
                      >Registro</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1"*ngIf="!isLogged">
                  <a class="nav-link py-3 px-0 px-lg-3 rounded" 
                      [routerLink]="['quien-soy']"
                      routerLinkActive="active"
                      >Quién soy?</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1" *ngIf="isLogged">
                  <a class="nav-link py-3 px-0 px-lg-3 rounded" href="#juegos">Juegos</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1" *ngIf="isLogged">
                  <a class="nav-link py-3 px-0 px-lg-3 rounded" role="button" (click)="onLogout()">Logout</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1" *ngIf="isLogged">
                  <a class="nav-link py-3 px-0 px-lg-3 rounded">{{user?.email}}</a>
                </li>
            </ul>
        </div>
    </div>
  </nav>