<div class="container text-center">
    <div class="card" style="width: 60;">
        <div class="card-header">
          Encuesta
        </div>
        <div class="container text-left formularioDiv">
            <form [formGroup]="formulario" (ngSubmit)="aceptar()">
                <div class="form-group">
                    <label for="exampleInputNombre">Nombre</label>
                    <input type="text" class="form-control" formControlName="nombre" id="exampleInputNombre">
                    <small id="nombreHelp" class="form-text text-muted" *ngIf="formulario.get('nombre')?.hasError('required') && formulario.get('nombre')?.touched">El nombre es requerido</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputApellido">Apellido</label>
                    <input type="text" class="form-control" formControlName="apellido" id="exampleInputApellido">
                    <small id="apellidoHelp" class="form-text text-muted" *ngIf="formulario.get('apellido')?.hasError('required') && formulario.get('apellido')?.touched">El nombre no puede contener espacios</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputEdad">Edad</label>
                    <input type="number" class="form-control" formControlName="edad" id="exampleInputEdad">
                    <small id="nombreHelp" class="form-text text-muted" *ngIf="formulario.get('edad')?.hasError('min') || formulario.get('edad')?.hasError('max') && formulario.get('edad')?.touched">La edad minima es de 18 y la máxima de 99</small>
                </div>
                <!-- <div class="form-group">
                    <label for="exampleInputTelefono">Teléfono</label>
                    <input type="text" class="form-control" formControlName="telefono" id="exampleInputTelefono" placeholder="Ingrese número (Cod. Área + Teléfono -sin 15-)">
                    <small id="telHelp" class="form-text text-muted" *ngIf="formulario.get('telefono')?.hasError('maxLength')">El teléfono debe tener una extensión de 10 números</small>
                    <small id="telHelp" class="form-text text-muted" *ngIf="formulario.get('telefono')?.hasError('pattern')">El teléfono debe ser numérico</small>
                    <small id="telHelp" class="form-text text-muted" *ngIf="formulario.get('telefono')?.touched">El teléfono es requerido</small>
                </div> -->
                <div class="row">
                    <div class="form-group col-6" >
                        <label for="exampleGenero">Género</label>
                        <select class="form-control" id="exampleGenero" formControlName="genero">
                          <option>Masculino</option>
                          <option>Femenino</option>
                          <option>No binario</option>
                          <option>Trans</option>
                          <option>Otro</option>
                        </select>
                        <small id="nombreHelp" class="form-text text-muted" *ngIf="formulario.get('genero')?.hasError('required') && formulario.get('genero')?.touched">El género es requerido</small>
                    </div>
                    <div class="form-group col-6">
                        <label for="exampleGenero">¿Te gustó la sala de juegos?</label>
                        <br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gusto" id="inlineRadio1" value="Si" formControlName="gusto">
                            <label class="form-check-label" for="inlineRadio1">Si</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gusto" id="inlineRadio2" value="No" formControlName="gusto">
                            <label class="form-check-label" for="inlineRadio2">No</label>
                          </div>
                        <small id="nombreHelp" class="form-text text-muted" *ngIf="formulario.get('gusto')?.hasError('required') && formulario.get('gusto')?.touched">El género es requerido</small>
                    </div>

                </div>

                <div class="form-group">
                    <label for="exampleOpinion">Danos tu opinión</label>
                    <textarea class="form-control" id="exampleOpinion" rows="3" formControlName="opinion"></textarea>
                    <small id="nombreHelp" class="form-text text-muted" *ngIf="formulario.get('genero')?.hasError('required') && formulario.get('genero')?.touched">Es necesario dejar una opinión para avanzar</small>
                </div>

                <button type="submit" class="btn btn-primary mb-2" [disabled]="formulario.invalid">Submit</button>
            </form>
        </div>
      </div>
</div>
