<div class="container mt-5">
    <div class="row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-6 col-md-8 login-box">
            <div class="col-lg-12 login-key">
                <i class="fa fa-plus fa-sm" aria-hidden="true"></i>
            </div>
            <div class="col-lg-12 login-title">
                REGISTRO
            </div>

            <div class="col-lg-12 login-form">
                <div class="col-lg-12 login-form">
                    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
                        <div class="form-group">
                            <label class="form-control-label" for="InputEmail">EMAIL</label>
                            <input type="email" class="form-control" formControlName="email" id="InputEmail" aria-describedby="emailHelp" placeholder="Ingrese su email">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="InputPassword">PASSWORD</label>
                            <input type="password" class="form-control" formControlName="password" id="InputPassword" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="InputPassword2">REPETIR PASSWORD</label>
                            <input type="password" class="form-control" formControlName="cpassword" id="InputPassword2" placeholder="Repetir Password">
                        </div>

                        <div class="col-lg-12 loginbttm">
                            <div class="col-lg-6 login-btm login-text">
                                <!-- Error Message -->
                            </div>
                            <div class="row login-button d-grid gap-2">
                                <button type="submit" class="btn btn-outline-primary">REGISTRO</button>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <p class="text-center">Volver al <span><a [routerLink]="['/ingreso/login']">Login</a></span></p>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>
    </div>


<!-- <div class="row">
    <div class="col-md-6 mx-auto mt-6">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
                   
                    <div class="form-group">
                    <label for="InputEmail">Email</label>
                    <input type="email" class="form-control" formControlName="email" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    
                    <div class="form-group">
                    <label for="InputPassword">Password</label>
                    <input type="password" class="form-control" formControlName="password" id="InputPassword" placeholder="Password">
                    </div>

                    <div class="form-group">
                    <label for="InputPassword2">Repetir password</label>
                    <input type="password" class="form-control" formControlName="cpassword" id="InputPassword2" placeholder="Repetir Password">
                    </div>
                    
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
                
                </form>
                <div class="form-group mt-3">
                    <p class="text-center">Volver al <span><a [routerLink]="['../login']">Login</a></span></p>
                </div>
            </div>
        </div>
    </div>
</div> -->
