.startGame{
	height: 100vh;
}

.golpearCarpincho_main{
	margin-top: 7rem;
	
}

.titulo{
	margin-bottom: 3rem;
}

.grid {
	width: 303px;
	height: 303px;
	display: flex;
	flex-wrap: wrap;
}

.square {
	height: 100px;
	width: 100px;
	border: solid black 1px;
}

.mole {
	background-image: url("../../../assets/imagenes/carpincho.jpg");
	background-size: cover;
}