<!-- BOTON -->
    <div *ngIf="!openChat">
        <a href="#" class="float" *ngIf="isLogged | async"  (click)="openChat = true">
            <!-- {{user | json}} -->
        <i class="fa fa-comments fa-lg my-float"></i>
        </a>
    </div>

<!-- CHAT-WINDOW -->
<div class="card chat-window" *ngIf="openChat">
    <div class="card-header d-flex justify-content-between">
      <h3>CHAT</h3>
      <button class="btn btn-outline-danger" (click)="openChat = false">X</button>
    </div>
    <div class="card-body">
        <div class="app-mensajes mb-1" id="divMensajes">
            <div *ngFor="let chat of chatSrv.chats" class="mensajeDiv"
                [ngClass]="{'text-right': usuarioLogueado.iduser == chat.uid}">
                <span class="badge badge-primary" [ngClass]="{'badge-primary': usuarioLogueado.iduser == chat.uid,
                                    'badge-success':  usuarioLogueado.iduser != chat.uid}">

                    {{chat.nombre}}
                </span>
                <p>{{chat.mensaje}}</p>
            </div>

        </div>
        <div class="input-group mb-3">
            <input type="text" 
                        class="form-control" 
                        placeholder="Ingresar mensaje"
                        [(ngModel)]="mensaje"
                        (keyup.enter)="enviarMensaje()">
            <div class="input-group-append">
              <button   class="btn btn-outline-success" 
                        type="button"                         
                        (click)="enviarMensaje()">
                            <i class="fa fa-paper-plane fa-xs" aria-hidden="true"></i>
                </button>
            </div>
          </div>
    </div>
  </div>
    <!-- <div class="chat-window" *ngIf="openChat">
        <h2>Chat</h2>
        <hr>

        <div class="app-mensajes mb-1" id="divMensajes">
            <div *ngFor="let chat of chatSrv.chats"
                [ngClass]="{'text-right': usuarioLogueado.iduser == chat.uid}">
                <span class="badge badge-primary"
                        [ngClass]="{'badge-primary': usuarioLogueado.iduser == chat.uid,
                                    'badge-success':  usuarioLogueado.iduser != chat.uid}">

                                    {{chat.nombre}}
                </span>
                <p>{{chat.mensaje}}</p>
            </div>
            
        </div>
        
        <input type="text" name="mensaje" 
                class="form-control input-chat"
                [(ngModel)]="mensaje"
                (keyup.enter)="enviarMensaje()"
                placeholder="Enviar mensaje">
            
    </div> -->
