<app-navbar></app-navbar>

<div class="row">
    <div class="col-md-6 mx-auto mt-6">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
                   
                    <div class="form-group">
                    <label for="InputEmail">Email</label>
                    <input type="email" class="form-control" formControlName="email" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    
                    <div class="form-group">
                    <label for="InputPassword">Password</label>
                    <input type="password" class="form-control" formControlName="password" id="InputPassword" placeholder="Password">
                    </div>

                    <div class="form-group">
                    <label for="InputPassword2">Repetir password</label>
                    <input type="password" class="form-control" formControlName="cpassword" id="InputPassword2" placeholder="Repetir Password">
                    </div>
                    
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
                
                </form>
                <div class="form-group mt-3">
                    <p class="text-center">Volver al <span><a [routerLink]="['/login']">Login</a></span></p>
                </div>
            </div>
        </div>
    </div>
</div>
