<div class="container">
  <div class="container-result">

  </div>
  <div class="d-flex align-items-center justify-content-center container-card">

    <div class="card" style="width: 25rem;">
      <div class="card-body">
        <h5 class="card-title text-center text-uppercase">Resultado</h5>
        <p class="card-text">Jugador: <span>Nombre</span></p>
        <p class="card-text">Puntos: <span>Nombre</span></p>
        <p class="card-text">Puntaje total: <span>Nombre</span></p>
        <div class="d-flex justify-content-around">
          <button class="btn btn-primary" >Volver a jugar</button>
          <button class="btn btn-primary" [routerLink]="['']">Salir</button>
        </div>
      </div>
    </div>
  </div>
</div>