<div class="container mt-4">
  <div class="card">
      <div class="card-body">
          <span class="h3">Listado de empleados</span>
          <table class="table table-striped mt-5">
            <!-- <table *ngIf="empleados.length > 0" class="table table-striped mt-5"></table> -->
              <thead>
                <tr>
                  <th>Usuario</th>
                  <th>Ahorcado</th>
                  <th>Mayor o menor</th>
                  <th>Preguntados</th>
                  <th>Hit Carpincho</th>
                  <th>Puntos totales</th>
                </tr>
              </thead>
              <tbody>
                <!-- <tr *ngFor="let empleado of empleados">
                  <td>{{empleado.nombre}}</td>
                  <td>{{empleado.apellido}}</td>
                  <td>{{empleado.documento}}</td>
                  <td>{{empleado.salario | currency}}</td>
                  <td>
                </tr> -->
                
              </tbody>
            </table>
      </div>
  </div>
</div>